src/test/resources/org/mule/module/activiti/action/embedded/perform-task-operation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
    xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:activiti="http://www.mulesoft.org/schema/mule/activiti-embedded"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/activiti-embedded http://www.mulesoft.org/schema/mule/activiti-embedded/3.2/mule-activiti-embedded.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    ">

    <spring:beans>
        <spring:import resource="classpath:org/mule/module/activiti/action/embedded/connector.xml" />
    </spring:beans>

    <flow name="perform-task-operation">
        <vm:inbound-endpoint path="in" exchange-pattern="request-response" />
        <activiti:create-process parametersExpression="#[header:INBOUND:createProcessParameters]" />
        <activiti:list-candidate-tasks userExpression="#[string:kermit]" start="0" size="1"/>
        <collection-splitter />
        <activiti:perform-task-operation taskIdExpression="#[groovy:payload.id]" 
            operation="CLAIM" userExpression="#[string:kermit]" />
        <activiti:get-task taskIdExpression="#[groovy:payload.id]" />
    </flow>

</mule>
